{{define "clustertype"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Cluster Types</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="preload" href="/static/favicon.ico" as="image" />
    </head>
    <body>
        <!-- Logo -->
        <header>
            <a href="https://www.rancher.com/" target="_blank">
                <img src="/static/images/rancher.png" class="logo" alt="Rancher by SUSE Logo" />
            </a>
        </header>

        <main>
            <div class="container">
                <h2>Select Cluster Type</h2>

                <!-- Cluster Type Form -->
                <form action="/provider" method="post">
                    <input type="hidden" name="selection" value="{{.Selection}}" />
                    <div style="margin-bottom:1.5rem;">
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="airgap-rke2" required /> Airgap RKE2
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="dual-rke2" required /> Dualstack RKE2
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="dual-k3s" required /> Dualstack K3S
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="ipv6-rke2" required /> IPv6 RKE2
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="ipv6-k3s" required /> IPv6 K3S
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="normal-rke2" required /> Normal RKE2
                        </label>
                        <label class="form-label-radio">
                            <input type="radio" class="form-radio" name="clustertype" value="normal-k3s" required /> Normal K3S
                        </label>
                    </div>
                    <button type="submit" class="form-button">Next &#8594;</button>
                </form>
                <form action="/selection" method="post" style="margin-top:1rem;">
                    <input type="hidden" name="selection" value="{{.Selection}}" />
                    <button type="submit" class="form-button" style="background:#ccc;color:#333;">&#8592; Back</button>
                </form>
            </div>
        </main>
    </body>
</html>
{{end}}
